@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* 
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
Farbe: #202020, #24bff2, #fff, #F5FBFE.
Farbe social media: #3b5998, #fcaf45, #55acee, #c4302b 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Merriweather", serif;
}

/* GENRAL */

h1, h2{
    font-size: 50px;
}

p {
    font-size: 20px;
    line-height: 35px;
}

section{
    margin-bottom: 15%;
}

img:hover{
    box-shadow: 0 0 5px 0px #cecece;
}
/* HEADER */
header {
	background-image: url("../img/illustration1.gif");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	padding-bottom: 15%;
}
/* NAVIGATION */
nav {
	text-align: right;
	padding: 10px 5%;
}
ul {
	list-style: none;
}
ul li {
	display: inline-block;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	margin-left: 25px;
}

/* HEADER CONTENT */
header div {
	width: 45%;
	padding: 15% 0 0 8%;
}


header p {
	margin: 15px 0 25px 0;
}

header a {
	text-decoration: none;
	padding: 15px 15px;
	border-radius: 3px;
	background-color: #000;
	color: #fff;
	margin-right: 5px;
}
header a:nth-of-type(2) {
	color: #000;
	background-color: #fff;
	box-shadow: 0 0 3px 0 #000;
}

/* MAIN */

/* LEFT RIGHT SECTION */

main section:first-child article:first-child{
    background-image: url('../img/illustration2.png');
    background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
    text-align: right;
    margin:8% 10% 30% 8%;
}

main section:first-child article:first-child div{
    width:40%;
    text-align:left;
    display:inline-block;
    padding: 30% 0 0 0;
}
main section:first-child article:first-child div p{
    margin: 20px 0;
}

main section:first-child article {
    background-image: url('../img/illustration3.png');
    background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
    text-align: left;
    margin:8% 10% 30% 8%;
}

main section:first-child article div{
    width: 40%;
    padding: 30% 0 0 0;
}

/* GALARY SECTION */

main section:nth-of-type(1n+2){
    text-align: center;
}

main section:nth-of-type(1n+2) p{
    padding: 5% 15%;
}

main section:nth-of-type(2) img{
    width:30%;
}

/* EXAMPLE SECTION */
main section:nth-of-type(3) h2+ p{
    padding: 5% 15%;
    width:80%;
    margin:0 auto;
}
main section:nth-of-type(3) img{
    width:40%;
    margin: 50px 40px;
}

/* MEMBERSHIP SECTION */
main section:nth-of-type(4) h2+p{
    padding-bottom: 25px;
}
main section:nth-of-type(4) div {
    background: rgba(36, 191, 242, 0.11);
    width:20%;
    margin:0 auto;
    padding: 65px 0 40px 0;
    border-radius: 8px;
}
main section:nth-of-type(4) div p{
    padding: 0;
}
main section:nth-of-type(4) ul {
    display: block;
    list-style: none;
    margin-bottom:50px;
    
}
main section:nth-of-type(4) ul li{
    display: block;
    text-align:center;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 5px;
    font-size: 15px;
}

main section:nth-of-type(4) div h3{
    margin-bottom: 40px;
}

main section:nth-of-type(4) div h3+p {
    font-size: 50px;
    margin-bottom: 50px;
}
main section:nth-of-type(4) div h3+p+p{
    color: #7c7b7b;
    font-size: 18px;
    margin-bottom:30px;
} 
main section:nth-of-type(4) div a{
    color:#fff;
    background: #24bff2;
    border: none;
    padding: 10px 35px;
    border-radius:5px;
    text-decoration: none;
}

/* FOOTER */
footer {
    margin: 15% 0 1% 0;
    text-align: center;
}

footer h2{
    margin-bottom: 5%;
}
footer p{
    margin: 10px;
    font-size: 15px;
}

footer p:nth-of-type(odd){
    color:#7c7b7b;
}
footer p span{
    font-size: 30px;
    margin-right:3px;
}

/* SOCIAL MEDIA COLORS */
footer p span:nth-of-type(1) {
    color: #3b5998;
}

footer p span:nth-of-type(2) {
    color: #fcaf45;
}
footer p span:nth-of-type(3) {
    color: #55acee;
}
footer p span:nth-of-type(4) {
    color: #c4302b;
}